@tailwind base;
@tailwind components;
@tailwind utilities;
@import './fonts';

p {
  font-family: 'karla';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'fraunces';
  color: #333;
}

.container {
  padding-right: 20px;
  padding-left: 20px;
}
.memento {
  background-image: url('../img/bg.jpg');
  background-repeat: repeat;
}
.hero {
  min-height: 640px;
  max-height: 1080px;
  padding-top: 40px;
  padding-bottom: 40px;

  .hero-content-wrapper {
    height: 720px;
  }
  .hero-img {
    height: 65%;
    background-image: url('../img/hero.png');
    background-size: cover;
    background-position: center;
    margin-bottom: 64px;
  }
  .hero-text {
    width: 770px;
    max-width: 80%;
    img {
      width: 160px;
      margin-right: 36px;
    }
  }
}

.story {
  .wrapper {
    width: 860px;
  }
  .photo {
    padding-bottom: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .photo.story-1 {
    background-image: url('../img/story1.png');
  }
  .photo.story-2 {
    background-image: url('../img/story2.png');
  }
}

.entry-list > div {
  width: 45%;
}

.entry {
  .photo {
    height: 150px;
    width: 150px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .photo.graphic-design {
    background-image: url('../img/mediatypes/0Graphic\ Design.png');
  }
  .photo.illustration {
    background-image: url('../img/mediatypes/0illustration.png');
  }
  .photo.industrial-design {
    background-image: url('../img/mediatypes/0industrial\ design.png');
  }
  .photo.fashion-design {
    background-image: url('../img/mediatypes/0Fashion.png');
  }
  .photo.interior-design {
    background-image: url('../img/mediatypes/0Interior\ Design.png');
  }
  .photo.architectural-design {
    background-image: url('../img/mediatypes/0Architecture.png');
  }
  .photo.music {
    background-image: url('../img/mediatypes/0music.png');
  }
  .photo.film {
    background-image: url('../img/mediatypes/0Film.png');
  }
  .photo.other {
    background-image: url('../img/mediatypes/0Others.png');
  }
}

.other-art {
  width: 55%;
  margin-right: auto;
  margin-left: auto;
}

.faq .faq-list > div {
  min-height: 220px;
  width: 45%;
}

.form-row {
  width: 100%;
  margin-bottom: 36px;

  label {
    font-family: 'fraunces';
    color: #333;
    margin-bottom: 12px;
  }
  input,
  textarea,
  select {
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    padding: 3px 0px;
    font-family: 'karla';
    font-size: 28px;
    border-bottom: 1px solid #333;
  }
  input::placeholder {
    color: #9b876a !important;
  }
  textarea {
    font-size: 22px !important;
  }
  p {
    color: rgba(214, 58, 58, 0.918);
    position: absolute;
  }
}

input:focus,
textarea:focus,
select:focus {
  outline: none !important;
}

select:hover {
  cursor: pointer;
}

.spot_1 {
  top: -20%;
  left: -40%;
}

.spot_2 {
  top: 14%;
  right: -40%;
}

.spot_4 {
  right: -36%;
  top: -10%;
}

.spot_3 {
  left: -28%;
  top: -20%;
}

.side-page {
  min-height: 480px;
}

.side-corner1 {
  top: -420%;
  left: -60%;
}
.side-corner2 {
  bottom: -400%;
  right: -50%;
}

button.submit {
  outline: none !important;
  transition: all 0.3s ease;
}

button.submit:hover {
  outline: none !important;
}

.disclaimer {
  color: #7d5e33 !important;
  position: static !important;
}

/* ======= BREAKPOINTS ======= */

/*--- 2XL --- */
@media (max-width: 1536px) {
  .spot_1 {
    left: -30%;
  }
  .spot_2 {
    top: 18%;
    right: -30%;
  }

  .spot_4 {
    right: -28%;
    top: -14%;
  }
  .spot_3 {
    left: -20%;
    top: -20%;
  }

  .side-corner1 {
    left: -50%;
    top: -380%;
  }
  .side-corner2 {
    bottom: -350%;
    right: -30%;
    width: 660px;
  }
}

/*--- XL --- */
@media (max-width: 1279px) {
  .spot_1 {
    left: -36%;
  }
  .spot_2 {
    right: -42%;
  }
  .spot_3 {
    width: 250px;
    top: -10%;
    left: -24%;
  }
  .spot_4 {
    right: -34%;
    width: 350px;
  }

  .side-corner1 {
    left: -60%;
    top: -400%;
  }
  .side-corner2 {
    bottom: -380%;
  }

  .other-art {
    width: 70%;
  }
}

/*--- LG --- */
@media (max-width: 1023px) {
  .story .wrapper {
    width: 690px;
  }
  .entry-list > div {
    width: 80%;
  }
  .faq .faq-list > div {
    width: 560px;
    min-height: 0;
  }

  .spot_1 {
    left: -50%;
  }
  .spot_2 {
    right: -60%;
  }
  .spot_4 {
    right: -40%;
    width: 320px;
    top: -5%;
  }

  .side-corner1 {
    left: -70%;
    top: -120%;
  }
  .side-corner2 {
    bottom: -80%;
    right: -70%;
  }

  .other-art {
    width: 80%;
  }
}

/*--- MD --- */
@media (max-width: 767px) {
  .story .wrapper {
    width: 100%;
  }
  .entry {
    width: 100%;
  }

  .spot_1 {
    top: -5%;
    left: -50%;
  }
  .spot_2 {
    top: 32%;
  }
  .spot_4 {
    right: -45%;
  }

  .side-page {
    .logo {
      width: 140px;
    }
  }

  .side-corner2 {
    right: -90%;
  }
  .other-art {
    width: 80%;
  }
}

/*--- SM --- */
@media (max-width: 639px) {
  .other-art {
    width: 100%;
  }

  .entry-list > div {
    width: 100%;
  }

  .memento .hero {
    padding-top: 0;
    padding-bottom: 0;
  }
  .memento .hero .hero-content-wrapper {
    height: 90%;
  }
  .memento .hero .hero-img {
    height: 70%;
    margin-bottom: 32px;
  }
  .memento .hero .hero-text {
    max-width: 100%;
    text-align: center;
  }
  .memento .hero .hero-text > img {
    width: 140px;
    margin-right: 0;
    margin-bottom: 24px;
  }
  .entry .photo {
    height: 100px;
    width: 100px;
  }
  .faq .faq-list > div {
    width: 100%;
  }

  .spot {
    display: none;
  }

  .side-corner1 {
    left: -70%;
    top: -60%;
  }
  .side-corner2 {
    bottom: -65%;
    right: -60%;
  }
}

/*--- SMALL LAPTOP --- */
@media (max-height: 760px) {
  .hero-img {
    height: 55% !important;
  }
}
